.footer__container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: sticky;
    border-top: 1px solid #3f526f;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 24px #00000038;
    bottom: 0;
    height: 75px;
    /*background-image: url(../../images/footerbg.jpg);*/
    background: transparent;
    z-index: 99;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.footer__navigation {
    height: 100%;
    width: 100%;
}

.footer__navigation__ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__navigation__li {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    float: left;
    height: 100%;
    cursor: pointer;
    transition: .5s;
    padding-right: 18px;
    padding-left: 18px;
    border-left: 1px solid #3F4E6C;
}

.footer__navigation__li a {
    color: white;
}

.footer__navigation__li  img {
    max-width: 40px;
}

.footer__navigation__li:hover {
    background: #2a4b5e;
}

.footer__navigation__li:last-of-type {
    border-right: 1px solid #3F4E6C;
}

.inactive {
    color: #a9d4f2 !important;
}

.mm:hover {
    color: #fff;
}

.mm {
    transition: .5s;
    color: #a9d4f2;
}